@model IEnumerable<CanineCorner.Models.Medical>

@{
    ViewData["Title"] = "Index";
}

<h2>Your Dog's Medical Information</h2>

<p>
    <a asp-action="Create">Add Medication</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Dog's Name
            </th>
            <th>
                Medication's Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Periodicity)
            </th>
            <th>
                Date Medication Last Given
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DogName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Periodicity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastDateGiven)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
