@model CanineCorner.Models.FullBreedStats

@{
    ViewData["Title"] = "Details";
}

<h2 style="text-align:center"><strong>@Model.Breed</strong></h2>
@{
    string url = "https://caninecorner.blob.core.windows.net/dog-pictures/" + Model.Breed + ".jpg";
}
<img class="center-image" src="@url" alt="@Model.Breed"/>

<div>

    <hr />
    @Html.Partial("~/Views/Shared/_AdaptibilitySummary.cshtml", Model.Adaptibility)

    <p>
        ___________________________________________________________________________________________________________________________________________________
    </p>
    <br /><br />

    @Html.Partial("~/Views/Shared/_FriendlinessSummary.cshtml", Model.Friendliness)

    <p>
        ___________________________________________________________________________________________________________________________________________________
    </p>
    <br /><br />
    @Html.Partial("~/Views/Shared/_HealthSummary.cshtml", Model.Health)

    <p>
        ___________________________________________________________________________________________________________________________________________________
    </p>
    <br /><br />
    @Html.Partial("~/Views/Shared/_GroomingSummary.cshtml", Model.Grooming)

    <p>
        ___________________________________________________________________________________________________________________________________________________
    </p>
    <br /><br />
    @Html.Partial("~/Views/Shared/_TrainingSummary.cshtml", Model.Training)

    <p>
        ___________________________________________________________________________________________________________________________________________________
    </p>
    <br /><br />
    @Html.Partial("~/Views/Shared/_ExerciseSummary.cshtml", Model.Exercise)
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
