@model CanineCorner.Models.FullBreedStats

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h3>@Model.Breed</h3>
    <hr />
    @Html.Partial("~/Views/Shared/_AdaptibilitySummary.cshtml", Model.Adaptibility)
    @Html.Partial("~/Views/Shared/_FriendlinessSummary.cshtml", Model.Friendliness)
    @Html.Partial("~/Views/Shared/_HealthSummary.cshtml", Model.Health)
    @Html.Partial("~/Views/Shared/_GroomingSummary.cshtml", Model.Grooming)
    @Html.Partial("~/Views/Shared/_TrainingSummary.cshtml", Model.Training)
    @Html.Partial("~/Views/Shared/_ExerciseSummary.cshtml", Model.Exercise)
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
