@model IEnumerable<CanineCorner.Models.BreedInfo>

@{
    ViewData["Title"] = "Breed Information";
}

    <h2>Breed Information</h2>


<table class="table" style="text-align: center">
    <thead>
        <tr>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.Breed)
            </th>
            <th style="text-align:center">
                Adaptability
            </th>
            <th style="text-align:center">
                Friendliness
            </th>
            <th style="text-align:center">
                Health
            </th>
            <th style="text-align:center">
                Grooming
            </th>
            <th style="text-align:center">
                Training
            </th>
            <th style="text-align:center">
               Exercise
            </th>
            
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Breed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.adaptability)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.friendliness)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.health)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.grooming)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.training)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.exercise)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>
