@model CanineCorner.Models.Adaptibility

<h3 style="text-align:center">Adaptabillity</h3> <br />

<table class="table" style="text-align: center">
    <thead>
        <tr>
            <th style="text-align:center">
                Overall
            </th>
            <th style="text-align:center">
                Does Well in Apartment
            </th>
            <th style="text-align:center">
                Good for Novice Owners
            </th>
            <th style="text-align:center">
                Sensitivity
            </th>
            <th style="text-align:center">
                Does Well Alone
            </th>
            <th style="text-align:center">
                Does Well in Cold Weather
            </th>
            <th style="text-align:center">
                Does Well in Hot Weather
            </th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
                @Model.Overall
            </td>
            <td>
                @Model.Apartment
            </td>
            <td>
                @Model.NoviceOwners
            </td>
            <td>
                @Model.Sensitivity
            </td>
            <td>
                @Model.Alone
            </td>
            <td>
                @Model.ColdWeather
            </td>
            <td>
                @Model.HotWeather
            </td>
        </tr>

    </tbody>
</table>