@model CanineCorner.Models.Exercise

<h3 style="text-align:center">Exercise</h3> <br />

<table class="table" style="text-align: center">
    <thead>
        <tr>
            <th style="text-align:center">
                Overall
            </th>
            <th style="text-align:center">
                Energy Level
            </th>
            <th style="text-align:center">
                Intensity of Exercise Needed
            </th>
            <th style="text-align:center">
                Amount of Exercise Needed
            </th>
            <th style="text-align:center">
                Playfulness
            </th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
                @Model.Overall
            </td>
            <td>
                @Model.EnergyLevel 
            </td>
            <td>
                @Model.Intensity
            </td>
            <td>
                @Model.ExerciseNeed
            </td>
            <td>
                @Model.Playfulness
            </td>
        </tr>

    </tbody>
</table>