@model CanineCorner.Models.Friendliness

<h3 style="text-align:center">Friendliness</h3> <br />

<table class="table" style="text-align: center">
    <thead>
        <tr>
            <th style="text-align:center">
                Overall
            </th>
            <th style="text-align:center">
                Friendly with Family
            </th>
            <th style="text-align:center">
                Good with Kids
            </th>
            <th style="text-align:center">
                Friendly Towards Other Dogs
            </th>
            <th style="text-align:center">
                Friendly Toward Strangers
            </th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
                @Model.Overall
            </td>
            <td>
                @Model.WithFamily
            </td>
            <td>
                @Model.WithKids
            </td>
            <td>
                @Model.OtherDogs
            </td>
            <td>
                @Model.WithStrangers  
            </td>
        </tr>

    </tbody>
</table>