@model CanineCorner.Models.Training

<h3 style="text-align:center">Training</h3> <br />

<table class="table" style="text-align: center">
    <thead>
        <tr>
            <th style="text-align:center">
                Overall
            </th>
            <th style="text-align:center">
                Easiness of Training
            </th>
            <th style="text-align:center">
                Intelligence
            </th>
            <th style="text-align:center">
                Mouthiness
            </th>
            <th style="text-align:center">
                Prey Drive
            </th>
            <th style="text-align:center">
                Potential for Barking
            </th>
            <th style="text-align:center">
                Wanderlust
            </th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
                @Model.Overall
            </td>
            <td>
                @Model.Easiness
            </td>
            <td>
                @Model.Intelligence
            </td>
            <td>
                @Model.Mouthiness
            </td>
            <td>
                @Model.PreyDrive
            </td>
            <td>
                @Model.Barking 
            </td>
            <td>
                @Model.Wanderlust 
            </td>
        </tr>

    </tbody>
</table>