@model CanineCorner.Models.Training

<h4>Training</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                Overall
            </th>
            <th>
                Easiness of Training
            </th>
            <th>
                Intelligence
            </th>
            <th>
                Mouthiness
            </th>
            <th>
                Prey Drive
            </th>
            <th>
                Potential for Barking
            </th>
            <th>
                Wanderlust
            </th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
                @Model.Overall
            </td>
            <td>
                @Model.Easiness
            </td>
            <td>
                @Model.Intelligence
            </td>
            <td>
                @Model.Mouthiness
            </td>
            <td>
                @Model.PreyDrive
            </td>
            <td>
                @Model.Barking 
            </td>
            <td>
                @Model.Wanderlust 
            </td>
        </tr>

    </tbody>
</table>